<mat-tab-group mat-align-tabs="end">
    <div class="content">
        <mat-tab label="Contacts">
            <div class="line">
                <a href="contactView">
                    <!--Ver como seria con los observables-->
                    <mat-icon class="person-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
                    Lola Pérez
                </a>
            </div>
            <mat-divider></mat-divider>
            <div class="line">
                <a href="#">
                    <mat-icon class="person-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
                    Juan Gutierrez
                </a>
            </div>
            <mat-divider></mat-divider>
            <div class="line">
                <a href="#">
                    <mat-icon class="person-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
                    Carlos Martínez
                </a>
            </div>
            <mat-divider></mat-divider>
        </mat-tab>
        <mat-tab label="Groups">
            <div class="line">
                <a href="#">
                    <mat-icon class="group-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon>
                    Trabajo
                </a>
            </div>
            <mat-divider></mat-divider>
            <div class="line">
                <a href="#">
                    <mat-icon class="group-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon>
                    Familia
                </a>
            </div>
            <mat-divider></mat-divider>
            <div class="line">
                <a href="#">
                    <mat-icon class="group-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon>
                    Juergas
                </a>
            </div>
            <mat-divider></mat-divider>
        </mat-tab>
    </div>
</mat-tab-group>




<!-- Hacer un for el cual te recorra la bbdd y lo rellene con los nombres de los grupos
y que ese nombre te lleve a la visión del grupo cuando clicas en él-->