<mat-tab-group mat-align-tabs="end">
    <mat-tab label="Contactos">
        <mat-icon class="person-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon> Lola Pérez
        <mat-divider></mat-divider>
        <mat-icon class="person-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon> Juan Gutierrez
        <mat-divider></mat-divider>
        <mat-icon class="person-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon> Carlos Martínez 
    </mat-tab>
    <mat-tab label="Grupos">
        <mat-icon class="group-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon> Trabajo
        <mat-divider></mat-divider>
        <mat-icon class="group-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon> Familia
        <mat-divider></mat-divider>
        <mat-icon class="group-icon" aria-hidden="false" aria-label="Example group icon">group</mat-icon> Juergas
    </mat-tab>
</mat-tab-group>




<!-- Hacer un for el cual te recorra la bbdd y lo rellene con los nombres de los grupos
y que ese nombre te lleve a la visión del grupo cuando clicas en él-->