.color1{
    background-color: rosybrown;
    padding-top: 50px;
}

.color2{
    background-color: royalblue;
    padding-top: 50px;
}

.color3{
    background-color: seagreen;
    padding-top: 25px;
}

.color4{
    background-color: slategrey;
    padding-top: 25px;
}