<app-toolbar></app-toolbar>
<div class="col-md-3"></div>
<mat-card class="col-md-6">

  <mat-card-header>
    <mat-card-title>Edit event</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-1"></div>
      <mat-form-field class="col-md-10">
          <div class="row">
            <input matInput type="text" name="name" placeholder="Event new name" [(ngModel)]="event_name" />
          </div>
        </mat-form-field>
          <div class="row">
            <button mat-raised-button (click)="editName()">Change Name</button>
          </div>
      <div class="col-md-1 "></div>
    </div>
  </mat-card-content>
</mat-card>
<div class="col-md-3"></div>