<app-toolbar></app-toolbar>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>New Poll</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Question</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Number of answers</mat-label>
                    <mat-select>
                      <mat-option value="answers">2</mat-option>
                      <mat-option value="answers">3</mat-option>
                      <mat-option value="answers">4</mat-option>
                      <mat-option value="answers">5</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!--Tener los 5 inputs creados a disable, y que cuando seleccione un value del select
                que verifique si es ese número o mayor para enable-->
                <mat-form-field appearance="fill">
                    <mat-label>Answer 1</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Answer 2</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Answer 3</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Answer 4</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Answer 5</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3"></div>
</div>