<!--<mat-toolbar class="navbar navbar-expand-lg">
<mat-toolbar-row>
    <span class="kicon-brand">Kicon Agenda</span>
    <div class="icons my-2 my-lg-0"></div>
    
    <mat-icon class="settings-icon" aria-hidden="false" aria-label="Example add icon">settings</mat-icon>
    <mat-icon class="on-icon" aria-hidden="false" aria-label="Example on icon">power_settings_new</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>-->

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#">Kicon Agenda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <mat-icon class="add-icon mr-sm-2" aria-hidden="false" aria-label="Example add icon">add</mat-icon>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <mat-icon class="add-icon mr-sm-2" aria-hidden="false" aria-label="Example add icon">add</mat-icon>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
    </ul>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <mat-icon class="add-icon mr-sm-2" aria-hidden="false" aria-label="Example add icon">add</mat-icon>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" (click)="newEvent()">New event</a>
        <a class="dropdown-item" href="#" (click)="newContact()">New contact</a>
        <a class="dropdown-item" href="#" (click)="newGroup()">New group</a>
      </div>
    </li>
    <a href="#" (click)="settings()"><mat-icon class="settings-icon" aria-hidden="false" aria-label="Example add icon">settings</mat-icon></a>
    <a href="#" (click)="log()"></a><mat-icon class="on-icon" aria-hidden="false" aria-label="Example on icon">power_settings_new</mat-icon></a>
  </div>
</nav>