<div class="titleList">
    Events
</div>
<div class="eventList"> 
    <!-- Crear un for para que se vaya rellenando con todos los datos-->
    <mat-card class="row">
        <div class="date col-md-4">
            <div class="day">
                24
            </div>
            <div class="month">
                July
            </div>
        </div>
        <div class="info col-md-8">
            <div class="title">
                Santo de Cris
            </div>
            <div class="countdown">Vacio por ahora</div>
            <div class="row dropdownButton">
                <div class="col-md-9">

                </div>
                <div class="col-md-3">
                    <a class="nav-link dropdown-toggle" href="#" id="eventDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Example add icon">more_horiz</mat-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="eventDropdown">
                        <a class="dropdown-item">Edit</a>
                        <a class="dropdown-item">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <!--Fin microview evento-->
</div>